/.idea/
/Android/.gradle/
/Android/build/
/Android/.idea/
/Android/app/build/
/Android/VpnHood_InMobi_Ads/build/
/Android/local.properties
/DotNet/.idea/
/DotNet/.vs/
/DotNet/SampleShowAd/bin/
/DotNet/SampleShowAd/obj/
/DotNet/VpnHood.AppLib.Ads.InMobi.Android/bin/
/DotNet/VpnHood.AppLib.Ads.InMobi.Android/obj/
/DotNet/SampleShowAd/SampleShowAd.csproj.user
